---
---

@import "{{ site.theme }}";

body {
    padding: 30px;
    font-size: 13px;
}

section {
    width: 560px;
}

footer {
    bottom: 10px;
}

.highlight {
    font-size: 11px;
}

.navigation a {
    display: block;
    font-weight: bold;
}
